<div class="container">
    <div class="row">
        <!-- Footer Social Icons-->
        <div class="col-lg-6 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/tech_iresa" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-fw fa-twitter"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/khoixbui/"
                target="_blank" rel="noopener noreferrer"><i class="fab fa-fw fa-linkedin-in"></i></a>
            <a class="btn btn-outline-light btn-social mx-1" href="https://medium.com/@iresa" target="_blank"
                rel="noopener noreferrer"><i class="fab fa-fw fa-medium-m"></i></a>
        </div>
        <!-- Footer About Text-->
        <div class="col-lg-6">
            <h4 class="text-uppercase mb-4">Contact Us Today!</h4>
            <p class="lead mb-0">
                Email:
                <a href="mailto:khoixbui@gmail.com">khoixbui@gmail.com</a>
            </p>
        </div>
    </div>
</div>