<div class="container">
    <!-- Service Section Heading-->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Services</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <!-- Service Grid Items-->
    <div class="row justify-content-center">
        <!-- Service 1 -->
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="fas fa-laptop"></i></div>
                <h4 class="title">Web Development</h4>
                <p class="description">Create custom, responsive websites that look good on all screen sizes.
                </p>
            </div>
        </div>

        <!-- Service 2 -->
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="fab fa-searchengin"></i></div>
                <h4 class="title">SEO</h4>
                <p class="description">Improve search ranking analyisis with web and content optimization.
                </p>
            </div>
        </div>

        <!-- Service 3 -->
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="fab fa-asymmetrik"></i></div>
                <h4 class="title">Web Modernization</h4>
                <p class="description">Tranform outdated sites into more modern web pages.
                </p>
            </div>
        </div>

        <!-- Service 4 -->
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
                <div class="icon"><i class="fas fa-tools"></i></div>
                <h4 class="title">Maintenance</h4>
                <p class="description">Keep web contents constantly up to date with changes and security vulnerability. 
                </p>
            </div>
        </div>
    </div>
</div>